<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-53">
                    GateWays Panel
                </span>

                <a [routerLink]="['/get-gateways']" class="btn-google m-b-20">                    
                    See all gateways
                </a>

                <a [routerLink]="['/search']" class="btn-google m-b-20">                    
                    Search gateway
                </a>
                
                <div class="container-login100-form-btn m-t-17">                    
                    <a [routerLink]="['/add-gateway']" class="login100-form-btn">
                        Add Gateway
                    </a>
                </div>                
            </form>
        </div>
    </div>
</div>
