<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll">
    <form class="d-flex tm-search-form" #searchForm="ngForm" (ngSubmit)="onSubmit()">
        <input class="form-control tm-search-input" type="text" placeholder="Search gateway" aria-label="Search"
            name="search" #search="ngModel" [(ngModel)]="serialNumber">
        <button class="btn btn-outline-success tm-search-btn">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<div *ngIf="gateway.serial != ''">
    <div class="card text-center">
        <div class="card-header">
            {{gateway.name}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{gateway.serial}}</h5>
            <p class="card-text">{{gateway.ipv4}}</p>
            <div *ngFor="let device of gateway.devices">
                <app-card [UID]="device.uid" [vendor]="device.vendor" [status]="device.status" [date]="device.date"></app-card>
            </div>
        </div>        
    </div>
</div>