
  <div class="limiter">
  <footer class="footer-20192 ">
    <div class="site-section">
      <div class="container">

        <div class="cta d-block d-md-flex align-items-center px-5">
          <div>
            <h2 class="mb-0">Ready for next project!</h2>
            
          </div>          
        </div>
        <div class="row">

          <div class="col-sm">
            <a href="#" class="footer-logo">Musala-Soft</a>
            <p class="copyright">
              <small>&copy; 2021</small>
            </p>
          </div>          
          <div class="col-sm">
            <h3>Company</h3>
            <ul class="list-unstyled links">
              <li><a href="#">About us</a></li>              
              <li><a href="#">Contact info</a></li>
            </ul>
          </div>          
          <div class="col-md-3">
            <h3>Follow us</h3>
            <ul class="list-unstyled social">
              <li><a href="mailto:fernandezrodrigo9602@gmail.com"><i class="social fa fa-google"></i></a></li>
              <li><a href="https://www.linkedin.com/in/rodrigo-fern%C3%A1ndez-3aa626258"><i class="social fa fa-linkedin"></i></a></li>              
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </footer>
</div>